.brand
{
  float: left;

  .logo
  {
    float: left;
    width:30px;
    height:30px;
    position: relative;
    top: 2px;
  }

  .name
  {
    float: left;
    padding:0;
    margin: 0;
    margin-left:5px;
    line-height: 1;
  }
}