.page-tile
{
  font-size: 30px;
}

.section-title
{
  margin-top: 0;

  .secondary &
  {
    color: white;
    padding: 4px 9px 6px 9px;
    background: black;
    font-size: 16px;
    letter-spacing: 2px;
    display: block;
    @include border-radius(4px);
  }
}

.subsection-title
{

}

