.wiki-menu,
.wiki-category-menu
{
  float:left;
  list-style: none;
  margin: 0;
  padding: 0;

  li
  {
    float:left;
    clear:both;
    width:100%;

  }
}


.wiki-category-menu
{
  li
  {
    padding-left:10px;
  }
}