<ul class="wiki-menu">
  <% sitemap.find_resource_by_destination_path("wiki/index.html").children.each do |wiki_folder| %>
    <li class="wiki-category">
      <h2 class="section-title"><%= wiki_folder.data.title %></h2>
      <ul class="wiki-category-menu">
        <% wiki_folder.children.each do |wiki_page| %>
          <li>
            <%= link_to wiki_page.data.title, url_for("/#{wiki_page.destination_path}") %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
